.x-grid-cell-inner {
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 20px;
}

.x-window-text a, .x-window-text span {
    color: #0070D5;
}

.x-window-text a:hover {
    color: #F44336;
}
