.x-panel-body {
    background: #FAFAFA;
}

.title {
    font-size: 14px;
    letter-spacing: 3px;
}

.content {
    font-size: 12px;
    letter-spacing: 2px;
    white-space: nowrap;
    color: #999;
}

.center {
    text-align: center;
}

.metric {
    padding: 5px 0;
    text-align: center;
    height: 100px;
}

.metric > p {
    margin: 0.8em 0;
}

.metric-value {
    font-family: Verdana, 'Microsoft YaHei', sans-serif !important;
    font-size: 24px;
}

.progress {
    width: 100%;
    height: 8px;
    background: #F1F1F1;
}

.progress > div {
    height: 100%;
    background: #1890FF;
}

.config-item {
    margin: 0 8px;
}

.config-icon {
    width: 16px;
    height: 16px;
    cursor: default;
    opacity: 0.8;
}

.help {
    margin: 10px;
}

.help b {
    font-weight: 400;
    color: #0070D5;
}

.help p {
    margin: 0;
    letter-spacing: 3px;
}

.version {
    color: #0070D5;
}

.version:hover {
    color: #1890FF;
}
