* {font-size:16px;border:0;padding:0;margin:0;color:#666;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.bg {width:100%;height:100%;position:absolute;top:0;right:0;left:0;bottom:0;margin:auto;}
.pc {width:492px;height:auto;position:absolute;top:-60px;right:453px;left:0;bottom:0;margin:auto;z-index:99999;}
.table {background-color:#FFFFFF;width:960px;height:465px;position:absolute;top:-5%;right:0;left:0;bottom:0;margin:auto;}
.password {position:absolute;top:12.8rem;right:4rem;display:flex;}
.btn {position:absolute;top:18.5rem;right:3.9rem;border:none;color:#fff;width:373px;text-align:center;background-color:#1592ef;text-indent:0rem;border-radius:10px;text-shadow:2px 2px 1px rgba(0,0,0,0.2);box-shadow:2px 2px 1px rgba(0,0,0,0.2);font-size:20px;height:50px;cursor:pointer}
.title-cn {width:960px;height:35px;color:#fff;font-size:30px;position:absolute;top:-7rem;text-align:center;}
.title-en {width:960px;height:35px;color:#fff;font-size:12.38px;position:absolute;top:-4rem;text-align:center;}
input {height:55px;width:373px;text-indent:55px;outline:none;background:#eef6fd;border-bottom:2px #d6e7fa solid;}
.password input {border:0;}
.email {position:absolute;top:7.8rem;right:4rem;display:flex;}
.icon img {height:30px;position:absolute;left:10px;top:13px;}
