*{ font-family:微软雅黑, sans-serif !important;color:#666; }
html{ overflow-y:hidden; }
body{ background:#E6E8EA !important;padding:10px; }
html, body{ box-sizing:border-box;height:100%; }
/* Grid */
.x-column-header{ background:#F8F8F8; }
.x-grid-cell{ vertical-align:middle; }
.x-grid-cell-inner:before, .x-column-header-inner:after{ border:none !important; }
/* icon */
.icon-add{ background:url(../img/icon/add.png) no-repeat; }
.icon-cross{ background:url(../img/icon/cross.png) no-repeat; }
.icon-grid{ background:url(../img/icon/grid.png) no-repeat; }
.icon-page-star{ background:url(../img/icon/page-star.png) no-repeat; }
.icon-tick{ background:url(../img/icon/tick.png) no-repeat; }
.icon-warning{ background:url(../img/icon/warning.png) no-repeat; }

